
#accuracy, #recall, #precision{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
}

#axis-2 div.Select-menu-outer,
#axis-3 div.Select-menu-outer{
    position: absolute;
    transform: translateY(-100%);
}

